html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  backdrop-filter: blur(2px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

.navbar {
  margin: 0px 50px 10px 0px;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s ease out;
}

.navbar a:hover {
  text-decoration: underline;
  color: #f5eded;

}
.navbar.scrolled{
  color: black;
}

#menu-icon {
  font-size: 36px;
  color: #ffffff;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    background-color: rgb(0 0 0 / 48%);
    display: none;
  }

  .navbar a {
    color: rgb(252, 253, 253);
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }

  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }

  .nav-bg.active {
    display: block;

  }
}

body {
  background-color: rgb(228, 227, 255);
  color: black;
  margin: 0px;
}

.prof {
  width: 100%;
  height: 500px;
  background-color: rgb(1, 7, 27);
  display: grid;
  grid-template-columns: 66% 34%;
  background-image:url("../media/darkbackground.jpg") ;
  background-size:1220px;
  background-position: -18px;
  background-repeat: no-repeat;
}
.prof::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0,0,0,0.3);
}
.profimage{
  background-image: url("../media/1.png");
  z-index: 100;
    position: relative;
  width: 330px;
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 150px;
  border-radius: 200px;
  margin-top: 100px;
  margin-left: 50px;
  box-shadow: 1px 1px 35px 4px #0089ff;
  animation: fromleft;
  animation-duration: 2s;

}
@keyframes fromleft {
  0% {
    opacity: 0;
    transform: translatex(-30px);
  }

  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}
.name {
  height: 500px;
  position: relative;

}

.container {
  position: relative;
  z-index: 1;
  color: white;
  padding: 110px 0 110px 38px;

}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}


.container h1 {
  font-size: 60px;
  margin-top:130px;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  animation: 
  typewriter 1s steps(50) 0.5s 1 normal both, 
  blinkingCursor 500ms steps(50) infinite normal;
}

.container p {
  font-size: 27px;
  margin: 0 0 -29px 0;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  animation: 
  typewriter 1s steps(50) 0.5s 1 normal both, 
  blinkingCursor 500ms steps(50) infinite normal;
}

.threecolumn {
  display: grid;
  grid-template-columns: 24% 24% 38%;
  font-size: 24px;
  margin-top: -24px;
}
.columnp{
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  animation: 
  typewriter 1s steps(50) 0.5s 1 normal both, 
  blinkingCursor 500ms steps(50) infinite normal;
  
}

.portfoliobtn {
  margin-left: 200px;
}

.btn {
  margin-top: 65px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 26px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  margin-top: 39px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: black;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.aboutsection {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 90px;
  margin-left: 160px;
  animation: entering;
  animation-duration: 2s;
  position: relative;
  height:960px;
}

.about {
  width: 700px;
  margin-left: 30px;
}

.about h1 {
  font-size: 41px;
  margin-top: -31px;
  margin-bottom: 20px;
}

.about p {
  font-size: 20px;
  line-height: 2.0;
  text-align: justify;
}
.about li{
  font-size: 20px;
  line-height: 2.0;
}
.about ul{
    grid-template-columns: 50% 50%;
    display: grid;
    text-align: justify;
    column-gap: 49px;
    row-gap: 10px;
}
.about span {
  color: rgb(1, 5, 44);
  text-shadow: 0px 1px 4px #a4f0ff;
}

.image {
  background-image: url("../media/networking\ technology.webp");
  width: 524px;
  height: 415px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px;
  background-position: -27px -2px;
  margin-top: 130px;
  margin-left: 128px;
  background-position: -57px;
}

@keyframes entering {
  from {
    margin-top: 40px;
    opacity: 0;
  }

  to {
    margin-top: 90px;
    opacity: 1;
  }
}

.education{
  height:600px;
  margin-left: 95px;
  margin-top: 60px;
  display:grid;
  grid-template-columns: 50% 50%;
}
.heading{
background-image: linear-gradient(180deg,white -550%,rgb(0,0,0) 95%);
height:1100px;
border: outset rgb(0, 0, 0);
animation:moveInBottom;
animation-delay: calc(var(--scroll) * -1s);
margin-left:45px;
margin-right:45px;
margin-top: 170px;
}
.heading h1{
  color:white;
  padding-top:40px;
}
.journey span{
  color: #a8a8f8;
  text-shadow: 0px 0px 3px #a8a8f8;
}
.subheading {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 40px;
  color: white;
  margin-bottom: -45px;
  text-align: center;
}
.point{
  display:grid;
  grid-template-columns: 10% 50%;
}
.box{
  height: 775px;
    width: 30px;
    border: 2px solid rgb(172, 172, 249);
    border-radius: 40px;
}
.bulletin{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: #333380;
  margin: 24px 5px 257px 5px;
}
.columndesc{
  height:400px;
  width: 600px;
}
.description{
  display:flex;
  flex-direction: column;
}
.desc{
  height:220px;
  width:400px;
  border:2px solid rgb(172, 172, 249);
  margin:18px 5px 50px 5px;
}
.batch{
  display:flex;
  flex-direction: row;
}
.round{
  height: 5px;
  width: 6px;
  background-color: #333380;
  border: 2px solid #333380;
  box-shadow: 0px 0px 2px 2px rgb(172, 172, 249);
  margin:15px;
}
.batch .year{
  color: rgb(172, 172, 249);;
    margin-top: 10px;
    margin-left: -7px;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
}
.description p{
  color: white;
    margin: 17px 20px 20px 20px;
    text-align: justify;
    line-height: 2.0;
}
.point2 .desc{
  margin:18px 5px 51px 5px;
  width:500px;
}
.point2 .bulletin{
  margin: 25px 5px 260px 5px;
}
.point2 .bull3{
  margin-top: -20px;
}
.desc li{
  color: white;
  text-align: justify;
  line-height: 2.0;
  margin-right:20px;
  margin-left:20px;
}
.point2 .desc1 li{
  padding-top:30px;
}
.point2 .desc2 li{
  padding-top:10px;
}
.button {
  display: flex;
  flex-direction: row-reverse;
  margin: 1px 121px 10px 0px;
}
.morebtn{
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
}
.btn2 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    margin-left: 90px;
    margin-top: -12px;
  }
  .btn2:hover{
    background: linear-gradient(0deg, rgba(251,75,2,1) 0%, rgba(255,151,0,1) 100%);
  }
  .coding-skills{
    height:700px;
  }
  .coding-skills h2{
    text-align:center;
    padding:20px;
    font-size: 35px;
  }
  .skillcont{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 150px 150px 150px 150px;
    margin-top: 100px;
    gap: 170px;
    justify-content: center;
  }
  .boxskill{
    background-color: white;
    padding: 90px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .html{
  background-image: url("../media/CSS3\ HTML5.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
 }
 .js{
  background-image: url("../media/javascript.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 .c{
  background-image: url("../media/candc++.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
 }
 .kotlin{
  background-image: url("../media/kotlin.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 .php{
  background-image: url("../media/php.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 .python{
  background-image: url("../media/Python\ Icon.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
 }
 .mysql{
  background-image: url("../media/mysql.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 .java{
  background-image: url("../media/Java\ Symbol.png");
  background-size: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
 }
.boxskill h3{
  text-align: center;
  color: black;
  background-color: rgba(0, 0, 1, 0.075);
  margin-top: -220px;
  padding: 5px 35px;
  white-space: nowrap;
}
.python h3{
  padding: 5px 45px;
}
.html h3{
  padding: 5px 25px;
}
.kotlin h3{
  padding: 5px 54px;
}
.php h3, .java h3{
  padding: 5px 67px;
 }
 .mysql h3{
  padding: 5px 50px;
 }
.proj{
  display: grid;
    grid-template-rows: 30px 460px 460px 460px 460px 460px;
    background-image: linear-gradient(180deg, white -550%, rgb(0, 0, 0) 95%);
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 0px;
    height: 2500px;
}
.twobox{
  display: grid;
    grid-template-columns: 50% 50%;
    margin: 75px 60px 20px 60px;
    background-color: #80808061;
}
.orderimg{
  background-image: url("../media/order-tracking.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.dashimg{
  background-image: url("../media/Dashboard.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.clgimg{
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.govimg{
  background-image: url("../media/govschemes.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.webeasy{
  background-image: url("../media/weblap.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.csvision{
  background-image: url("../media/aiproj.jpg");
  background-size: 299px;
  background-position: center;
  background-repeat: no-repeat;
  height: 316px;
  width: 472px;
  margin: 28px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.chair{
  background-image: url("../media/chair.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.chair2{
  background-image: url("../media/chair3.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.sofa{
  background-image: url("../media/sofa.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.helloworld{
  background-image: url("../media/hello\ world.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.greeting{
  background-image: url("../media/bday\ greeting\ card\ 3.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  height: 235px;
  width: 497px;
  margin: 50px 20px 20px 54px;
  background-color: rgba(128, 128, 128, 0.533);
  border: 10px ridge grey;
}
.helloworld2{
  background-image: url("../media/output\ in\ my\ phone\ .jpg");
  background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    height: 329px;
    width: 498px;
    margin: 50px 20px 20px 54px;
    background-color: rgba(128, 128, 128, 0.533);
    border: 10px ridge grey;
}
.para{
  color:white;
  margin: 64px 30px 30px 30px;
  width: 600px;
  text-align: justify;
  line-height: 2;
  Font-size: 20px;
}
.proj h1{
  color: white;
  font-size: 45px;
  text-align: center;
  margin: 6px 24px 20px 19px;
  height: 39px;
}
.ai {
  margin: -447px 0 0 0;
}
.slide-container {
  overflow: hidden;
  height: 100%;
}

.slide {
  position: absolute; 
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.slide.active {
  opacity: 1;
  transform: translateX(0%); 
}

.slide.prev {
  opacity: 0;
  transform: translateX(-100%); 
}

.slide.next {
  opacity: 0;
  transform: translateX(100%); 
}

.blender{
  margin: -894px 0 0 0;

}
.button-container { 
  position: relative;
  bottom: 2485px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button2 {
  background-color: #0dd2e7; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 57px 0 57px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.button2:hover {
  background-color: rgb(208, 174, 243); 
  color: black;
  transform: scale(1.2);
}
#prevBtn {
  padding-left: 25px; 
  position: relative; 
}

#prevBtn::before {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%); 
}

#nextBtn {
  padding-right: 25px; 
  position: relative; 
}

#nextBtn::after {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%); 
}
.leftbtn{
  font-size: 26px;
    padding: 8px 9px;
}
.rightbtn{
  font-size: 26px;
    padding: 8px 9px;
}